{% extends "admin/templates/base.html" %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Miniature</div>

        <img src="{{ path('thumbnail-square', { 'photo': photo.id, 'size': '200' }) }}" alt="{{ photo.filename }}" />
    </div>
{% endblock %}

{% block page_content %}
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Crop</h1></div>
            <div class="panel-body">

                <img src="{{ path('thumbnail-square', { 'photo': photo.id, 'size': 200 }) }}" />
                <img src="{{ path('thumbnail-square', { 'photo': photo.id, 'size': 200, 'algorithm': 'Entropy' }) }}" />
                <img src="{{ path('thumbnail-square', { 'photo': photo.id, 'size': 200, 'algorithm': 'Balanced' }) }}" />

                <img src="{{ path('thumbnail', { 'photo': photo.id, 'width': 1200 }) }}" />

                <img src="{{ photo.url }}" alt="{{ photo.filename }}" />
            </div>
        </div>
    </div>
{% endblock %}
