{% extends "admin/templates/base.html" %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Miniature</div>

        <img src="{{ path('thumbnail', { 'photo': photo.id, 'width': '200', 'height': '200' }) }}" alt="{{ photo.filename }}" />
    </div>
{% endblock %}

{% block page_content %}
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Crop</h1></div>
            <div class="panel-body">

                <img src="{{ path('thumbnail', { 'photo': photo.id, 'width': '200', 'height': '200' }) }}" alt="{{ photo.filename }}" />
                <img src="/tmp/cropped-entropy.jpg" />
                <img src="/tmp/cropped-balanced.jpg" />

                <img src="{{ photo.url }}" alt="{{ photo.filename }}" />
            </div>
        </div>
    </div>
{% endblock %}
