{% extends "admin/templates/base.html" %}

{# TODO : should be set in app.php #}
{% form_theme form 'Form/fields.html.twig' %}

{% block id %}editFormLabel{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-body">
        <form action="{{ path('edit-photos', { ids: app.request.get('ids') } ) }}" method="post">
            {{ form_widget(form.photos) }}
            {{ form_rest(form) }}
            {{ form_errors(form) }}
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <a class="btn btn-default" href="{{ path('admin') }}">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
