{% extends "base.html" %}

{% block title %}Admin / {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ app.config.web_dir }}css/admin.css" rel="stylesheet">
    <link href="{{ app.config.web_dir }}css/dropzone/dropzone.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/vendor/dropzone.js"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Upload de fichier</h1>
        <form action="{{ path('file-upload') }}" class="dropzone"></form>

        <h1>Galerie</h1>
        <div id="gallery">
        {% for photo in photos %}
            <div class="image">
                {% if photo.is_favorite %}<span class="favorite glyphicon glyphicon-star"></span>{% endif %}
                <a href="{{ photo.url }}"><img src="{{ path('thumbnail', { 'filename': photo.filename, 'width': '200', 'height': '200' }) }}" alt="{{ photo.filename }}" /></a>
            </div>
        {% endfor %}
        </div>

        <div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editFormLabel">Description des photos</h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
                <button type="button" class="btn btn-primary">Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>

    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/admin.js"></script>
{% endblock %}
