{% extends "base.html" %}

{% block title %}Admin / {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ app.config.web_dir }}css/admin.css" rel="stylesheet">
    <link href="{{ app.config.web_dir }}css/dropzone/dropzone.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/vendor/dropzone.js"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Upload de fichier</h1>
        <form action="{{ path('file-upload') }}" class="dropzone"></form>

        <h1>Galerie</h1>
        <div id="gallery">
        {% for photo in photos %}
            <div class="image">
                {% if photo.is_favorite %}<span class="favorite glyphicon glyphicon-star"></span>{% endif %}
                <a href="{{ photo.url }}"><img src="{{ path('thumbnail', { 'photo': photo.id, 'width': '200', 'height': '200' }) }}" alt="{{ photo.filename }}" /></a>
            </div>
        {% endfor %}
        </div>

        <div id="modal"></div>
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/admin.js"></script>
{% endblock %}
