{% extends "base.html" %}

{% block title %}Admin / {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ app.config.web_dir }}css/dropzone/dropzone.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/vendor/dropzone.js"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Upload de fichier</h1>
        <form action="{{ path('file-upload') }}" class="dropzone"></form>
    </section>
{% endblock %}
