{% import "macro/pamplemousse.twig" as macro %}

{% if show_filters is not defined %}
    {% set show_filters = true %}
{% endif %}

{% set current_tag = app.request.query.get('tag') %}
{% set current_kids = app.request.query.get('kids') %}

{% set current_all = true %}
{% if current_tag or current_kids or (current_date is defined) %}
    {% set current_all = false %}
{% endif %}

{% if current_date is not defined %}
    {% set current_date = { month: null, year: null } %}
{% endif %}

<div id="filter-bar">

    {% if show_filters != false and (app.config.tags is defined or app.config.kids is defined) %}
    <div class="filters" id="tag-filters">
        Afficher&nbsp;: 
        <ul>
            <li class="{% if current_all %}current{% endif %}"><a href="{{ url('index') }}#filter-bar">Tout</a></li>
            {% for kid in app.config.kids %}
                <li class="kid {% if kid.name in current_kids %}current{% endif %}">
                    <a href="{{ url('index', {kids: toggle_filters(app.request.query.get('kids'), kid.name)} ) }}#filter-bar">{{ kid.name }}{% if kid.name in current_kids %} <span class="glyphicon glyphicon-remove"></span>{% endif %}
                    </a>
                </li>
            {% endfor %}
            <li class="separator">/</li> 
            {% for id, tag in app.config.tags %}
                <li class="{% if current_tag == id %}current{% endif %}">
                    <a href="{{ url('index', { 'tag': id }) }}#filter-bar">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="filters" id="month-filters">
        Naviger par date&nbsp;:
        <ul>
            {% for year, months in app.photos.aggregatedDates(constant('\\Pamplemousse\\Photos\\Service::BY_YEAR')) %}
                <li class="sub-filter-toggle {% if year == current_date.year %}current{% endif %}">
                    <span>{{ year }}</span>
                    <ul class="sub-filters">
                    {% for month in months %}
                        <li class="{% if month == current_date.month and year == current_date.year %}current{% endif %}">
                            <a href="{{ url('date', { 'year' : year, 'month': month }) }}#filter-bar">{{ macro.french_month(month) }}</a>
                        </li>
                    {% endfor %}
                </li>
                </ul>
            {% endfor %}
        </ul>
    </div>
</div>


<script>
$('.sub-filter-toggle span').click(function() {
  $(".sub-filters.current").removeClass('current');
  $(this).next().addClass('current');
});
</script>
