{% extends "templates/base.html" %}

{% import "macro/pamplemousse.twig" as macro %}

{% block content %}
    <script src="{{ app.config.web_dir }}js/vendor/lazyload.min.js"></script>

    <section id="home">
        <div class="container">
            <h1 id="responsive_headline">{{ app.config.kid.name }}</h1>
            <h2>{{ app.config.kid.baseline|raw }}</strong></h2>
            <a data-scroll href="#photos"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>

    {% if app.config.tags is defined %}
        {% include 'partials/filters.twig' with current_date %}
    {% endif %}

    <section id="photos">
        <div class="container">

            <h1>
                {% if app.photos.previousMonth(current_date.year, current_date.month) %}
                <a href="{{ url('previousDate', { 'year' : current_date.year, 'month': current_date.month }) }}#photos">◀ </a>&nbsp;
                {% endif %}

                {{ macro.french_month(current_date.month) ~ current_date.year }}

                {% if app.photos.nextMonth(current_date.year, current_date.month) %}
                &nbsp;<a href="{{ url('nextDate', { 'year' : current_date.year, 'month': current_date.month }) }}#photos"> ▶</a>
                {% endif %}
            </h1>

            <div id="gallery">
                <div class="grid-sizer"></div>
                {% include 'partials/thumbnails.twig' %}
            </div>
        </div>

        {% include 'partials/photoswipe.twig' %}
        {% include 'partials/photoswipe.js.twig' %}
    </section>

    <section id="footer">
        <p id="warning">{{ app.config.kid.name }} est encore un peu jeune pour s'afficher sur les réseaux sociaux. C’est pourquoi nous vous invitons à échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/main.js"></script>
    <script>
      window.fitText(document.getElementById("responsive_headline"), 1.2);
    </script>
{% endblock %}
