{% extends "templates/base.html" %}

{% import "macro/pamplemousse.twig" as macro %}

{% block content %}
    <script src="{{ app.config.web_dir }}js/vendor/lazyload.min.js"></script>

    <section id="home">
        <div class="container">
            <h1 id="responsive_headline">{{ app.config.site.title }}</h1>
            <h2>{{ app.config.site.baseline|raw }}</strong></h2>
            <a data-scroll href="#filter-bar"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>

    {% include 'partials/filters.twig' with current_date %}

    <section id="photos">
        <div class="container">

            {% set previous_month = app.photos.previousMonth(current_date.year, current_date.month) %}
            {% set next_month = app.photos.nextMonth(current_date.year, current_date.month) %}

            <h1>
                {% if previous_month %}
                <a href="{{ url('previousDate', { 'year' : current_date.year, 'month': current_date.month }) }}#filter-bar">◀ </a>&nbsp;
                {% endif %}

                {{ macro.french_month(current_date.month) ~ current_date.year }}

                {% if next_month %}
                &nbsp;<a href="{{ url('nextDate', { 'year' : current_date.year, 'month': current_date.month }) }}#filter-bar"> ▶</a>
                {% endif %}
            </h1>

            <div id="gallery">
                <div class="grid-sizer"></div>
                {% include 'partials/thumbnails.twig' %}
            </div>

            <div class="pagination">
                {% if previous_month %}
                <div><a href="{{ url('previousDate', { 'year' : current_date.year, 'month': current_date.month }) }}#filter-bar"><span class="arrow">◀</span> {{ macro.french_month_year(previous_month) }}</a></div>
                {% endif %}

                {% if next_month %}
                <div>
                <a href="{{ url('nextDate', { 'year' : current_date.year, 'month': current_date.month }) }}#filter-bar"> {{ macro.french_month_year(next_month) }} <span class="arrow">▶</span></a></div>
                {% endif %}
            </div>
        </div>

        {% include 'partials/photoswipe.twig' %}
        {% include 'partials/photoswipe.js.twig' %}
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/main.js"></script>
    <script>
      window.fitText(document.getElementById("responsive_headline"), 1.2);
    </script>
{% endblock %}
