{% extends "templates/base.html" %}

{% block content %}
    <script src="{{ app.config.web_dir }}js/vendor/lazyload.min.js"></script>

    {% if app.config.site.intro %}
    <section id="home">
        <div class="container">
            <h1 id="responsive_headline">{{ app.config.site.title }}</h1>
            <h2>{{ app.config.site.baseline|raw }}</strong></h2>
            <a data-scroll href="#filter-bar"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>
    {% endif %}

    {% include 'partials/filters.twig' %}

    <section id="photos">
        <div class="container">

            {% set current_kids = app.request.query.get('kids') %}
            {% if current_kids %}
                <h1>{{ current_kids|join(' et ') }}</h1>
            {% endif %}

            <div id="gallery">
                <div class="grid-sizer"></div>
                {% include 'partials/thumbnails.twig' %}
            </div>
        </div>

        {% include 'partials/photoswipe.twig' %}
        {% include 'partials/photoswipe.js.twig' %}

        {% set photo = photos|last %}
        {% if photo and photos|length >= photo_per_page %}
            <button id="load" href="#" data-after="{{ photo.date_taken }}">Voir encore plus d'images !</button>
        {% endif %}
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/main.js"></script>
    <script>
      window.fitText(document.getElementById("responsive_headline"), 1.2);
    </script>
{% endblock %}
