{% extends "templates/base.html" %}

{% block content %}
    <script src="{{ app.config.web_dir }}js/vendor/lazyload.min.js"></script>

    <section id="home">
        <div class="container">
            <h1 id="responsive_headline">{{ app.config.kid.name }}</h1>
            <h2>{{ app.config.kid.baseline|raw }}</strong></h2>
            <a data-scroll href="#photos"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>

    <section id="photos">
        <div class="container">
            <h1>Jour après jour</h1>

            <div id="gallery">
                <div class="grid-sizer"></div>
                {% include 'partials/thumbnails.twig' %}

                {% include 'partials/photoswipe.twig' %}
                {% include 'partials/photoswipe.js.twig' %}
            </div>
        </div>

        {% set photo = photos|last %}
        <button id="load" href="#" data-after="{{ photo.date_taken }}">Voir encore plus d'images !</button>
    </section>

    <section id="footer">
        <p id="warning">{{ app.config.kid.name }} est encore un peu jeune pour s'afficher sur les réseaux sociaux. C’est pourquoi nous vous invitons à échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/main.js"></script>
    <script>
      window.fitText(document.getElementById("responsive_headline"), 1.2);
    </script>
{% endblock %}
