{% extends "templates/base.html" %}

{% block content %}
    <script src="{{ app.config.web_dir }}js/vendor/lazyload.min.js"></script>

    <section id="home">
        <div class="container">
            <h1 id="responsive_headline">{{ app.config.kid.name }}</h1>
            <h2>{{ app.config.kid.baseline|raw }}</strong></h2>
            <a data-scroll href="#photos"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>

    <section id="photos">
        <div class="container">
            <h1>Jour après jour</h1>

            <div id="gallery">
                <div class="grid-sizer"></div>
                {% for photo in photos %}
                    <div class="image {% if photo.is_favorite %}favorite{% endif %}">
                    <a class="swipe" href="{{ path('photo', { 'photo': photo.id }) }}" data-index="{{ loop.index0 }}">
                        <img 
                            data-src="{{ path('thumbnail-square', { 'photo': photo.id, 'size': 800 }) }}" 
                            data-big-thumbnail="{{ path('thumbnail', { 'photo': photo.id, 'width': 1200 }) }}" 
                            data-title="{{ photo.description|default(app.config.kid.name) }}" 
                            data-w="{{ photo.width }}" 
                            data-h="{{ photo.height }}" 
                            data-date="{{ photo.date_taken|date("d/m/Y") }}" 
                            data-age="{{ photo.date_taken|age }}" 
                            data-comments-count="{{ photo.comments_count }}" 
                            data-url="{{ path('photo', { 'photo': photo.id }) }}" 
                            alt="{{ photo.filename }}" 
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            onload="lzld(this)"
                        />
                    </a>
                    {% if photo.comments_count > 0 %}
                        <a class="counter" href="{{ path('photo', { 'photo': photo.id }) }}">{{ photo.comments_count }} <span class="glyphicon glyphicon-comment"></span></a>
                    {% endif %}
                    </div>
                {% endfor %}

                {% include 'partials/photoswipe.twig' %}

                <script>
                var openPhotoSwipe = function(index) {

                    // parse slide data from DOM elements (children of gallerySelector)
                    var parseThumbnailElements = function() {
                        var thumbElements = $(".swipe"),
                            numNodes = thumbElements.length,
                            items = [];

                        var linkEl, imgEl;
                        for(var i = 0; i < numNodes; i++) {
                            linkEl = thumbElements[i];
                            // include only element nodes 
                            if(linkEl.nodeType !== 1) {
                                continue;
                            }
                            imgEl = linkEl.children[0];

                            // create slide object
                            item = {
                                src: imgEl.getAttribute('data-big-thumbnail'),
                                title: imgEl.getAttribute('data-title'),
                                w: imgEl.getAttribute('data-w'),
                                h: imgEl.getAttribute('data-h'),
                                date: imgEl.getAttribute('data-date'),
                                age: imgEl.getAttribute('data-age'),
                                comments_count: imgEl.getAttribute('data-comments-count'),
                                url: imgEl.getAttribute('data-url')
                            };
                            items.push(item);
                        }

                        return items;
                    };

                    var pswpElement = document.querySelectorAll('.pswp')[0];
                    var items = parseThumbnailElements();
                    var options = {
                        index: parseInt(index),
                        loop: false,
                        // Add age in caption
                        addCaptionHTMLFn: function(item, captionEl) {
                            if(!item.title) {
                                captionEl.children[0].innerHTML = '';
                                return false;
                            }
                            captionEl.children[0].innerHTML = item.title + ' — ' + item.age + ' — ' + item.date;
                            if (item.comments_count == 0) {
                                comments_invite = 'Soyez le premier à commenter !';
                            } else if (item.comments_count == 1) {
                                comments_invite = item.comments_count + ' commentaire';
                            } else {
                                comments_invite = item.comments_count + ' commentaires';
                            }
                            captionEl.children[0].innerHTML += '<br /><a href="' + item.url + '">' + comments_invite + '</a>';
                            return true;
                        },
                        // Share buttons
                        shareButtons: [
                            {id:'download', label:'Télécharger', url:'\{\{raw_image_url\}\}', download:true}
                        ],
                    };
                    // Initializes and opens PhotoSwipe
                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                    gallery.init();
                };

                var photoswipeParseHash = function() {
                    var hash = window.location.hash.substring(1),
                    params = {};

                    if(hash.length < 5) {
                        return params;
                    }

                    var vars = hash.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        if(!vars[i]) {
                            continue;
                        }
                        var pair = vars[i].split('=');
                        if(pair.length < 2) {
                            continue;
                        }
                        params[pair[0]] = pair[1];
                    }

                    return params;
                };

                $(".swipe").on('click', function(e) {
                    e.preventDefault();
                    openPhotoSwipe(this.getAttribute('data-index'));
                });

                // Parse URL and open gallery if it contains #&pid=X
                var hashData = photoswipeParseHash();
                if(hashData.pid) {
                    openPhotoSwipe(hashData.pid - 1);
                }
                </script>
            </div>
        </div>

        {% set photo = photos|last %}
        <button id="load" href="#" data-after="{{ photo.date_taken }}">Voir encore plus d'images !</button>
    </section>

    <section id="footer">
        <p id="warning">{{ app.config.kid.name }} est encore un peu jeune pour s'afficher sur les réseaux sociaux. C’est pourquoi nous vous invitons à échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/main.js"></script>
    <script>
      window.fitText(document.getElementById("responsive_headline"), 1.2);
    </script>
{% endblock %}
