{% extends "base.html" %}

{% block content %}
    <section id="home">
        <div class="container">
            <h1>{{ app.config.kid.name }}</h1>
            <h2>{{ app.config.kid.baseline|raw }}</strong></h2>
            <a data-scroll href="#photos"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>

    <section id="photos">
        <div class="container">
            <h1>Mois après mois</h1>

            <div id="gallery">
                {% set slides = [] %}
                {% for photo in photos %}
                    {% set slide = {
                        src: path('thumbnail-by-width', { 'id': photo.id, 'width': 1200 }),
                        title: photo.description|default(app.config.kid.name),
                        w: photo.width,
                        h: photo.height,
                        timeago: photo.date_taken|timeago
                    } %}
                    {% set slides = slides|merge([slide]) %}
                    <a class="image {% if photo.is_favorite %}favorite{% endif %}" href="{{ path('photo', { 'id': photo.id }) }}">
                        <img src="{{ path('thumbnail', { 'id': photo.id, 'width': 800, 'height': 800 }) }}" alt="{{ photo.filename }}" />
                    </a>
                {% endfor %}

                {% include 'partials/photoswipe.twig' %}

                <script>
                var openPhotoSwipe = function() {
                    var pswpElement = document.querySelectorAll('.pswp')[0];
                    var items = {{ slides|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
                    var options = {
                        // Start at first slide
                        index: 0,
                        // Add timeago in caption
                        addCaptionHTMLFn: function(item, captionEl) {
                            if(!item.title) {
                                captionEl.children[0].innerHTML = '';
                                return false;
                            }
                            captionEl.children[0].innerHTML = item.title + ' — ' + item.timeago;
                            return true;
                        }
                    };
                    // Initializes and opens PhotoSwipe
                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                    gallery.init();
                };
                $(".image").on('click', function(e) {
                    e.preventDefault();
                    openPhotoSwipe();
                });
                </script>
            </div>
        </div>
    </section>

    <section id="footer">
        <p id="warning">Comme ses parents, {{ app.config.kid.name }} n’aime pas trop trop les réseaux sociaux. C’est pourquoi nous vous invitons à imprimer et échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}
