{% extends "templates/base.html" %}

{% block content %}
    <script src="{{ app.config.web_dir }}js/vendor/lazyload.min.js"></script>

    <section id="home">
        <div class="container">
            <h1 id="responsive_headline">{{ app.config.kid.name }}</h1>
            <h2>{{ app.config.kid.baseline|raw }}</strong></h2>
            <a data-scroll href="#photos"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </section>

    <section id="photos">
        <div class="container">
            <h1>Jour après jour</h1>

            <div id="gallery">
                <div class="grid-sizer"></div>
                {% set slides = [] %}
                {% for photo in photos %}
                    {% set slide = {
                        src: path('thumbnail', { 'photo': photo.id, 'width': 1200 }),
                        title: photo.description|default(app.config.kid.name),
                        w: photo.width,
                        h: photo.height,
                        age: photo.date_taken|age
                    } %}
                    {% set slides = slides|merge([slide]) %}
                    <a class="image {% if photo.is_favorite %}favorite{% endif %}" href="{{ path('photo', { 'photo': photo.id }) }}" data-index="{{ loop.index0 }}">
                        <img 
                            data-src="{{ path('thumbnail-square', { 'photo': photo.id, 'size': 800 }) }}" 
                            alt="{{ photo.filename }}" 
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            onload="lzld(this)"
                        />
                    </a>
                {% endfor %}

                {% include 'partials/photoswipe.twig' %}

                <script>
                var openPhotoSwipe = function(index) {
                    var pswpElement = document.querySelectorAll('.pswp')[0];
                    var items = {{ slides|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
                    var options = {
                        index: parseInt(index),
                        loop: false,
                        // Add age in caption
                        addCaptionHTMLFn: function(item, captionEl) {
                            if(!item.title) {
                                captionEl.children[0].innerHTML = '';
                                return false;
                            }
                            captionEl.children[0].innerHTML = item.title + ' — ' + item.age;
                            return true;
                        },
                        // Share buttons
                        shareButtons: [
                            {id:'download', label:'Télécharger', url:'\{\{raw_image_url\}\}', download:true}
                        ],
                    };
                    // Initializes and opens PhotoSwipe
                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                    gallery.init();
                };

                var photoswipeParseHash = function() {
                    var hash = window.location.hash.substring(1),
                    params = {};

                    if(hash.length < 5) {
                        return params;
                    }

                    var vars = hash.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        if(!vars[i]) {
                            continue;
                        }
                        var pair = vars[i].split('=');
                        if(pair.length < 2) {
                            continue;
                        }
                        params[pair[0]] = pair[1];
                    }

                    return params;
                };

                $(".image").on('click', function(e) {
                    e.preventDefault();
                    openPhotoSwipe(this.getAttribute('data-index'));
                });

                // Parse URL and open gallery if it contains #&pid=X
                var hashData = photoswipeParseHash();
                if(hashData.pid) {
                    openPhotoSwipe(hashData.pid - 1);
                }
                </script>
            </div>
        </div>
    </section>

    <section id="footer">
        <p id="warning">{{ app.config.kid.name }} est encore un peu jeune pour s'afficher sur les réseaux sociaux. C’est pourquoi nous vous invitons à échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ app.config.web_dir }}js/main.js"></script>
    <script>
      window.fitText(document.getElementById("responsive_headline"), 1.2);
    </script>
{% endblock %}
