{% extends "templates/base.html" %}

{% import "macro/pamplemousse.twig" as macro %}

{% block content %}

    {% if app.config.tags is defined %}
        {% include 'partials/filters.twig' %}
    {% endif %}

    <section id="photo">
        <h1>
            {% if photo.previous %}
                <a href="{{ path('photo', { 'photo': photo.previous.id }) }}" alt="Photo précédente"> ◀&nbsp;</a>
            {% endif %}

            {{ macro.french_date(photo.date_taken) }}

            {% if photo.next %}
                <a href="{{ path('photo', { 'photo': photo.next.id }) }}" alt="Photo suivante">&nbsp;▶ </a>
            {% endif %}
        </h1>

        {% if photo.description %}
            <h2>{{ photo.description }}</h2>
        {% endif %}

        <img src="{{ photo.url }}" alt="{{ photo.filename }}" />




        <h2>Commentaires</h2>

        <ul id="comments">
        {% for comment in comments %}
            <li>
                <div class="author">Le {{ comment.date|date("d/m/Y à H:m") }}, {{ comment.name }} a dit :</div>
                <div class="comment">{{ comment.comment }}</div>
            </li>
        {% endfor %}
        </ul>

        <form action="{{ path('photo', { 'photo': photo.id }) }}" method="post">
            {{ form_widget(form.item_id, { value : photo.id }) }}
            {{ form_rest(form) }}
            {{ form_errors(form) }}
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>

        <div id="navigation">
            <a href="{{ path('index') }}">← Retour à l'accueil</a>
        </div>
    </section>

    <section id="footer">
        <p id="warning">Comme ses parents, {{ app.config.kid.name }} n’aime pas trop trop les réseaux sociaux. C’est pourquoi nous vous invitons à imprimer et échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}
