{% extends "templates/base.html" %}

{% block content %}

    <section id="photos">
        <div class="container">

            <h1>{{ photo.description|default(photo.date_taken|timeago) }}</h1>

            <img id="fullpage-photo" src="{{ photo.url }}" alt="{{ photo.filename }}" />

            <ul id="comments">
            {% for comment in comments %}
                <li>
                    <div class="author">{{ comment.name }}</div>
                    <div class="comment">{{ comment.comment }}</div>
                </li>
            {% endfor %}
            </ul>

            <form action="{{ path('photo', { 'photo': photo.id }) }}" method="post">
                {{ form_widget(form.item_id, { value : photo.id }) }}
                {{ form_rest(form) }}
                {{ form_errors(form) }}
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </form>

        </div>
    </section>

    <section id="footer">
        <p id="warning">Comme ses parents, {{ app.config.kid.name }} n’aime pas trop trop les réseaux sociaux. C’est pourquoi nous vous invitons à imprimer et échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}
