{% extends "templates/base.html" %}

{% import "macro/pamplemousse.twig" as macro %}

{% block content %}

    {% include 'partials/filters.twig' with { 'show_tags': false } %}
    <div class="navigation">
        <a href="{{ path('index') }}">← Retourner à toutes les photos</a>
    </div>

    <section id="photo">
        <h1>
            {% if photo.previous %}
                <a href="{{ path('photo', { 'photo': photo.previous.id }) }}" alt="Photo précédente"> ◀&nbsp;</a>
            {% endif %}

            {{ macro.french_date(photo.date_taken) }}

            {% if photo.next %}
                <a href="{{ path('photo', { 'photo': photo.next.id }) }}" alt="Photo suivante">&nbsp;▶ </a>
            {% endif %}
        </h1>

        {% if photo.description %}
            <h2>{{ photo.description }}</h2>
        {% endif %}

        <img src="{{ photo.url }}" alt="{{ photo.filename }}" />




        <h2>Commentaires</h2>

        <ul id="comments">
        {% for comment in comments %}
            <li>
                <div class="author">Le {{ comment.date|date("d/m/Y à H:m") }}, {{ comment.name }} a dit :</div>
                <div class="comment">{{ comment.comment }}</div>
            </li>
        {% endfor %}
        </ul>

        <form action="{{ path('photo', { 'photo': photo.id }) }}" method="post">
            <h3>Ajouter un commentaire</h3>
            {{ form_widget(form.item_id, { value : photo.id }) }}
            {{ form_rest(form) }}
            {{ form_errors(form) }}
            <button type="submit" class="btn btn-primary">Commenter</button>
        </form>

        <div class="navigation">
            <a href="{{ path('index') }}">← Retourner à toutes les photos</a>
        </div>
    </section>
{% endblock %}
