<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>{{ app.config.kid.name }}</title>
    <link>{{ url('index') }}</link>
    <description>Commentaires sur les photos de {{ app.config.kid.name }}</description>
    <atom:link href="{{ url('rss.comment') }}" rel="self" type="application/rss+xml" />

    {% for comment in comments %}
    <item>
        <title>{{ comment.name }}</title>
        <link>{{ url('photo', { 'photo': comment.photoId }) }}</link>
        <guid isPermaLink="true">{{ url('photo', { 'photo': comment.photoId }) }}#{{ comment.id }}</guid>
        <description><![CDATA[
            <a href="{{ url('photo', { 'photo': comment.photoId }) }}">
                <img src="{{ url('thumbnail-square', { 'photo': comment.photoId, 'size': '200' }) }}" />
            </a><br />
            {{ comment.comment }}
            ]]>
        </description>
    </item>
    {% endfor %}
</channel>
</rss>
