{% extends "bootstrap_3_layout.html.twig" %}

{% block radio_label -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|raw }}
        <img src="{{ path('thumbnail-square', { 'photo': app.request.get('ids')|first, 'size': '200', 'algorithm': label }) }}" />
    </label>
{% endblock %}


{% block photo_widget %}
    {% spaceless %}
        <div class="photo-widget">
            <img src="{{ path('thumbnail-square', { 'photo': data.id, 'size': '200' }) }}" alt="{{ data.description }}" />
            <div class="fields">
                {{ form_widget(form.id) }}
                {{ form_widget(form.description) }}
                {{ form_widget(form.is_favorite) }}
                {{ form_widget(form.crop_algorithm) }}

                {{ form_rest(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
