{% extends "bootstrap_3_layout.html.twig" %}

{% block photo_widget %}
    {% spaceless %}
        <div class="photo-widget">
            <img src="{{ path('thumbnail-square', { 'photo': data.id, 'size': '200' }) }}" alt="{{ data.description }}" />
            <div class="fields">
                {{ form_widget(form.id) }}
                {{ form_widget(form.description) }}
                {{ form_widget(form.is_favorite) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
