{% extends "bootstrap_3_layout.html.twig" %}

{% block radio_label -%}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|raw }}
        <img src="{{ path('thumbnail-square', { 'photo': form.parent.parent.vars.data.id, 'size': '200', 'algorithm': label }) }}" />
    </label>
{% endblock %}


{# TODO : style it #}
{% block photo_widget %}
    {% spaceless %}
        <div class="container photo-widget">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.id) }}
                    {{ form_row(form.crop_algorithm) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.date_taken) }}
                    {{ form_row(form.description) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.is_favorite) }}
                    {{ form_row(form.kids) }}
                    {{ form_row(form.tags) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_rest(form) }}
                </div>
            </div>

        </div>
    {% endspaceless %}
{% endblock %}
